@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/gilroy-medium.eot");
  src: url("fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/gilroy-medium.woff2") format("woff2"),
    url("fonts/gilroy-medium.woff") format("woff"),
    url("fonts/gilroy-medium.ttf") format("truetype"),
    url("fonts/gilroy-medium.svg#gilroy-medium") format("svg");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local("Gilroy-ExtraBold"),
    url("fonts/Gilroy-ExtraBold.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-family: "Gilroy-Medium";
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}
body {
  font-family: "Gilroy-Medium";
  margin: 0;
  padding: 0;
}

.block1 {
  width: 100%;
  background-color: rgb(255, 255, 255);
  max-width: 1171px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.menu {
  display: flex;
  width: 533px;
  gap: 17px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.home__link {
  color: rgb(242, 88, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}

.content {
  margin-top: 84px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 41px;
  align-items: stretch;
}

.main__title {
  font-family: Gilroy-ExtraBold;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  margin: 0;
  margin-bottom: 17px;
}

.text {
  display: flex;
  flex-direction: column;
}

.main__title__description {
  max-width: 466px;
  width: 100%;
  color: rgb(136, 136, 136);
  font-size: 20px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}

.left__content,
.right__content {
  width: 100%;
}

.left__content {
  display: flex;
  flex-direction: column;
}

.right__content {
  width: 100%;
  align-self: stretch;
}

.right__image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 302px;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

button {
  border-radius: 50px;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  background: rgb(242, 88, 34);
  color: rgb(255, 255, 255);
  font-family: Gilroy-ExtraBold;
  font-size: 15px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  width: 140px;
  margin-top: 20px;
  height: 50px;
  border: none;
}

.content__link {
  color: rgb(170, 170, 170);
  font-family: Gilroy-ExtraBold;
  font-size: 15px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}

.footer {
  margin-top: 259px;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 259px;
}

.block2 {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.top__block {
  max-width: 1171px;
  min-height: 391px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 0px 61px;
  min-height: 100%;
}

.bottom__block__1 {
}

.bottom__block__2 {
  position: relative;
  height: auto;
}

.middle__block__background__image {
  background-size: cover;
  position: absolute;
  left: -20%;
  top: -15%;
  z-index: -1;
}

.bottom__block__3 {
}

.blocks_title {
  font-family: Gilroy-ExtraBold;
  font-size: 24px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 25px;
}

.blocks__middle__text {
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(102, 102, 102);
  padding-top: 17px;
  padding-bottom: 25px;
  margin-right: 50px;
}

.blocks__links {
  color: rgb(0, 0, 0);
  font-family: Gilroy-ExtraBold;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.bottom__block {
  background-image: url(./img/block2/bottom_иackgroubd.svg);
}

.bottom__title__and__descripton__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 682px;
  margin-left: auto;
  margin-right: auto;
}
.bottom__title {
  margin-top: 92px;
  color: rgb(0, 0, 0);
  font-family: Gilroy-ExtraBold;
  font-size: 45px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
}

.bottom__description {
  color: rgb(102, 102, 102);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.bottom_main_block {
  display: grid;
  max-width: 1171px;
  margin-left: auto;
  margin-right: auto;
}

.bottom__main__content__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  margin-top: 54px;
  gap: 0px 30px;
  min-height: 549px;
}
.bottom__background__container {
  background-image: url(./img/block2/BG_middle.svg);
}

.bottom__blocks__title {
  padding-top: 25px;
  color: rgb(0, 0, 0);
  font-family: Gilroy-ExtraBold;
  font-size: 24px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
}

.bottom__blocks__description {
  padding-top: 22px;
  color: rgb(170, 170, 170);
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.bottom__background__container {
  display: flex;
  flex-flow: wrap;
  place-content: stretch center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.bottom__buttons {
  margin-top: 39px;
}

@media (max-width: 1024px) {
  .main__title {
    font-size: 50px;
  }
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin-top: 15px;
  }
  .footer {
    margin-top: 20px;
  }

  .grid__container {
    grid-auto-rows: minmax(300px, auto);
  }
  .block__illustration {
    width: 100%;
  }
  .bottom__main__content__container {
    grid-row-gap: 20px;
    grid-auto-rows: minmax(549px, auto);
  }
}

@media (max-width: 600px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main__title {
    font-size: 35px;
  }
  .grid__container {
    grid-auto-rows: minmax(300px, auto);
  }

  .bottom__block__3 .bottom__block__2 {
    margin-top: 20px;
  }

  .bottom__title {
    margin-top: 16px;
    text-align: center;
  }

  .grid__container {
    display: grid;
    align-items: start;
  }

  .blocks_title {
    text-align: center;
  }
  .blocks__middle__text {
    text-align: center;
  }
  .blocks__links {
    text-align: center;
  }

  .top__blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

}
