@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/gilroy-medium.eot");
  src: url("fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/gilroy-medium.woff2") format("woff2"),
    url("fonts/gilroy-medium.woff") format("woff"),
    url("fonts/gilroy-medium.ttf") format("truetype"),
    url("fonts/gilroy-medium.svg#gilroy-medium") format("svg");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local("Gilroy-ExtraBold"),
    url("fonts/Gilroy-ExtraBold.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-family: "Gilroy-Medium";
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}
body {
  font-family: "Gilroy-Medium";
  margin: 0;
  padding: 0;
  max-width: 1171px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.block1 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.menu {
  display: flex;
  width: 533px;
  gap: 17px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
.home__link {
  color: rgb(242, 88, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}

.content {
  margin-top: 84px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 41px;
  align-items: stretch;
}
.main__title {
  font-family: Gilroy-ExtraBold;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  margin: 0;
  margin-bottom: 17px;
}
.text {
  display: flex;
  flex-direction: column;
}
.main__title__description {
  max-width: 466px;
  width: 100%;
  color: rgb(136, 136, 136);
  font-size: 20px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}
.left__content,
.right__content {
  width: 100%;
}
.left__content {
  display: flex;
  flex-direction: column;
}

.right__content {
  width: 100%;
  align-self: stretch;
}
.right__image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 302px;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
button {
  border-radius: 50px;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  background: rgb(242, 88, 34);
  color: rgb(255, 255, 255);
  font-family: Gilroy-ExtraBold;
  font-size: 15px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  width: 140px;
  margin-top: 20px;
  height: 50px;
  border: none;
}
.content__link {
  color: rgb(170, 170, 170);
  font-family: Gilroy-ExtraBold;
  font-size: 15px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}

.footer {
  margin-top: 259px;
}
.footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 259px;
}
.block2 {
  width: 100%;
  max-height: 1410px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: min-content auto;
}

.top__block {
  display: grid;
  height: 491px;
  background-color: lightblue;
  place-items: center;
}
@media (max-width: 600px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 880px) {
  .content {
    grid-template-columns: 1fr;
    margin-top: 15px;
  }
  .footer {
    margin-top: 20px;
  }
}
